<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="10">
<title>{{ title }}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/styling.css">
<!-- This is the `page_refresh.png' icon from the Silk icon set from http://www.famfamfam.com/lab/icons/silk/ -->
<link rel="shortcut icon" type="image/png" href="/static/favicon.ico">
</head>
<body>
{{ content }}
</body>
</html>
